<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><h:outputText value="#{text['pages.baseTemplate.title']}" /><ui:insert name="title">Page Title</ui:insert></title>

        <link rel="stylesheet" href="#{request.contextPath}/resources/themes/bootstrap/css/bootstrap.min.css"/>
    </h:head>

    <h:body>

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>JSF Test</h1>
                <p>Démonstration des possibilités de JSF</p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span12">
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </div>


        </div> <!-- /container -->
    </h:body>
    <!-- Template scripts-->
    <ui:insert name="scripts"></ui:insert>
</html>
