

/*
    Colors and sizes customisations.

*/

body {
    background-color : #A5CFD5;
    margin : 0px;
    border : 0px;
    padding : 0px;
    font-family : Verdana,Arial,Helvetica;
    font-size : 100%;
    width : 100%;
    height : 100%;
}

#wrapper {
    font-size : 11pt;
    width : 100%;
    height : 100%;
}


#content {
    width : 975px;
    height : 100%;
    min-height: 600px;
    margin : auto;
    background-color : white;
    position : relative;
}

#body {
    width : auto;
    height : 100%;
    position:relative;
    margin : 10px 10px 25px;
}


#banner {
    background:#368291 none repeat scroll 0%;
    border-left:1px solid #D9DBE7;
    border-right:1px solid #D9DBE7;
    border-top:1px solid #D9DBE7;
    border-bottom:1px solid #D9DBE7;
    height:91px;
    /*margin:0px auto;
    padding:0px;*/

    top : 0px;
    width:975px;
}

#contactBanner {
    position : absolute;
    bottom : 1em ;
    left : 0px;
    height : 2.5em;
    width: 100%;
    background-color: #F3F1EA;
}
#contactBanner * {
    float : left;
}
#contactBanner p {
    line-height: .8em;
    margin-left: 15em;
    font-size: .8em;
}
h1 {
    color : #368291;
    font-size : 1.5em;
    margin : 0em;
    border-bottom: 1px solid #D9DBE7;
}

h2 {

    margin : 1.5em 0em 0em;
    color:#368291;
    font-size : 1.25em;
    border-bottom: 1px solid #D9DBE7;
}

#body p {
    padding : 0em 0em;
    font-family: arial;
}

p.breadcrumb {
    background-color : #E6EAEB;
}

#cartouche {
    border : 1px solid #368291;
    border-top : 5px solid #368291;
    width : auto;
    position : absolute;
    top : 0px;
    right : 0px;
}


div.chapter ul li {
    list-style-image : url('../images/bullets/tamponHAL.gif');
}

a {
    color : #F05736;
    font-weight : bold;
    text-decoration : none;
}

ul {
    margin-top : .4em;
}

ul.results{
    font-size:0.9em;
}

/* Admins '*/
#adminLink {
    position : absolute;
    right : 0px;
    top : 0px;
}

/* Publishers and journals */
#mainForm table thead tr th a {
    display : block;
    float : right;
    width : 10px;
    height : 10px;
    background-repeat: no-repeat;
    background-image: url('../images/arrow_off.png');
}
td {
    position : relative;
}
tr.publisher td {
    background-color: #eee;
    font-size: 1em;
    padding : .5em;
}
tr.journal td {
    background-color: #eef;
    font-size: .9em;
}

tr.journal td.firstCol {
    padding : 0em 0em 0em 2em;
}

tr.journal td.firstCol {
    background-color : #dde;
}
tr.publisher td.firstCol {
    background-color : #ddd;
}

.valueMode .value, .editMode .edit{
    display : inline;
}
.valueMode .edit, .editMode .value{
    display : none;
}
.menus li ul {
    display: none;
}
ul.menu {
    float : right;
}

ul.menu{

}
ul.menu-ul a,ul.menu-ul a img {
    border : 0px;
}
ul.menu-ul  {
    background-color: #FAECBF;
}
ul.menu, ul.menu-ul {
    border : 0px;
    margin : 0px;
    padding : 0px;
    list-style:none !important;
    list-style-type: none !important;
}
ul.menu-ul {
    margin : 0em 0em 0em 1em;
}

/* Modal window styles*/
#simplemodal-container {
    background:silver;
    padding: 1em;
    font-size: .8em;
}

#simplemodal-container h2 {
    margin : 0px;
    font-size: 1.2em;
}

#simplemodal-container a.modalCloseImg {
    background:url('../images/x.png') no-repeat; /* adjust url as required */
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -18px;
    cursor: pointer;
}

#simplemodal-container form label {
    display : block;
    float : left;
    width : 90px;
}

p.centeredText {
    margin-top: 2em;
    text-align: center;
}

div.homeText{
    font-size: 0.8em;
}

a img {
    border : 0px;
}