/* Navigation */
#menuBar {
    clear : both;
    width : 975px;
    height : 2em;
    background-color : #000;
    margin-bottom : 10px;
    z-index: 1000;
    position : relative;
}

#nav a img {
    border : 0px;
}
#nav, #nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    list-style-position: outside;
    position:relative;
    /*line-height:1.5em;*/
}

#nav li a {
    display : block;
    padding : 0px 5px;
    border : 1px solid #333;
    color : #fff;
    text-decoration : none;
    background-color : #333;
    line-height: 1.9em;
}

#nav a:hover{
    background-color:#fff;
    color:#333;
}

#nav li{
    float:left;
    position:relative;
}

#nav ul {
    position:absolute;
    display:none;
    width:13em;
    /*top:1.5em;*/
}

#nav li ul a{
    width:13em;
    height:auto;
    float:left;
}

#nav ul ul{
    top:auto;
}

#nav li ul ul {
    left:12em;
    margin:0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
}