/*
CSS for search engine.

*/
/* Recherche d'article '*/
#searchResults ul {
    margin : 0px;
    padding : 0px;
    width : 70%;
    list-style-type: none;
    list-style-position: outside;
}

#searchResults li {
    padding : .5em;
    position : relative;
    width : 100%;
    overflow : hidden;
    /*font-size : 1.2em;*/
}
#searchResults li.even {
    background-color : #D6DADB;
}
#searchResults li.odd {
    background-color : #B4C8CD;
}

#searchResults li a img {
    border : 0px;
}
#searchResults li p {
    margin : 0px;
}
#searchResults li p.outLink {
    position : absolute;
    top : 5px;
    right : 1.2em;
    width : 6px;
    /*height : 32px;*/
    /*background-color: silver;*/
}

#searchResults li p.outLink a {
    display : block;
    width : 19px;

    float : left;
}

#searchResults .documentResume {
    font-size:0.9em;
    font-style:italic;
    margin:1.5em;
}

#searchResults .publicationDate {
    font-style: italic;
    text-align: right;
    font-variant: small-caps;
}

.formControls {
    text-align: right;
}

#body{
    padding : 1em;
}

p.pages {
    font-size: .8em;
}

#ajaxLoader {
    display: none;
}
#searchResults small {
    font-size: .8em;
    margin : 1em;
}
#searchResults small b {
    background-color: yellow;
}

#searchLaunchButton{
    font-weight:bold;
    font-size: 1.1em;
    background-image: none;
    background-color:#F05736;
    color : white;
}

#advancedSearch {
    font-size: .8em;
    margin-left: 2em;
}
#advancedSearch * {
     font-size: .9em;
    }

#searchForm {
    width : 860px;
    *width : 930px;
}
.ui-widget {
    font-size: .8em;
}