<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.prime.com.tr/ui"
                template="/WEB-INF/templates/baseTemplate.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <ui:define name="title">
        Accueil
    </ui:define>
    <ui:define name="content">
        <h1>Panier ecommerce</h1>

        <c:if test="#{!loginController.userAuthentified}">
            <h2>Pour accéder au site, merci de vous identifier !</h2>
            <h:form>
                <h:outputLabel value="Login" for="login" />
                <h:inputText value="#{loginController.login}" id="login"/>

                <h:outputLabel value="Password" for="password" />
                <h:inputText value="#{loginController.password}" id="password" />

                <h:commandLink action="#{loginController.authenticate()}" value="Login" />
            </h:form>            
        </c:if>
        <c:if test="#{loginController.userAuthentified}">
            <!--<li><h:link outcome="searchengine/index.xhtml" value="Recherche en texte intégral" /></li>-->
            <p>Voici les articles disponibles :</p>
            <h:form>
                <p:dataTable id="products" var="product" value="#{productServices.products}">
                    <p:column headerText="id">
                        <h:outputText value="#{product.id}" />
                    </p:column>

                    <p:column headerText="nom">
                        <h:outputText value="#{product.name}" />
                    </p:column>

                    <p:column headerText="description">
                        <h:outputText value="#{product.description}" />
                    </p:column>

                    <p:column headerText="quantité disponible">
                        <h:outputText value="#{product.quantityAvailable}" />
                    </p:column>
                    <p:column headerText="Action">
                        <p:commandButton id="selectButton" update=":form:display" oncomplete="carDialog.show()" icon="ui-icon-search" title="View">  
                            <f:setPropertyActionListener value="#{product}" target="#{panier.currentSelectedProduct}" />  
                        </p:commandButton>  
                    </p:column>                      
                </p:dataTable>
                <p:dialog header="Car Detail" widgetVar="carDialog" resizable="false" id="carDlg"  
                          showEffect="fade" hideEffect="explode" modal="true">  
                    <p>Produit ajouté !</p>
                </p:dialog>
                <p:commandButton value="Créer des produits en base" update="products" id="ajax"  
                                 actionListener="#{productServices.createProductInDB}" />                 
            </h:form>
        </c:if>
    </ui:define>
</ui:composition>


